@model IEnumerable<XYZ_shops.Models.product>

@{
    ViewBag.Title = "Jeans";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h3>Jeans</h3>
<style>
    .footer {
        margin-top: 1000px;
    }
</style>
@foreach (var item in Model)
{
    if (@item.product_category == "Jeans")
    {
        <div style="width:100%">
            <div class="col-sm-5 col-md-3" style="width:175px">
                <div class="thumbnail">
                    <a href="#"><img src="@Url.Content(item.product_image)" /> </a>
                </div>
                <div class="caption" style="align-content:center">
                    <span style="color:cornflowerblue" ,strong="5px">
                        <i>
                            @Html.DisplayFor(ModelItem => item.product_name)
                            <br />
                        </i>
                    </span>
                    @Html.DisplayFor(ModelItem => item.product_price)/-
                    <br />
                    <i>@Html.ActionLink("view", "Details", new { id = item.product_id })</i>
                </div>
            </div>
        </div>
    }
}


