@model XYZ_shops.Models.user
@{
                /**/

                ViewBag.Title = "Login";
                Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<br/>
<div>
    <p><h4>Welcome to the world of winning everything you wish for!!</h4> 
    Grab up your cup of coffee and be ready to bid on the fascinated products.Stay connected with us and win every exciting offers.Now start wishlisting!!</p>
</div>

<h4>Sign in</h4>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewBag.Message
    </div>

    @Html.ActionLink("Go to Login", "Login")
}

else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.user_id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.user_id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-default" />
                    @Html.ActionLink("Change Password","Password","Password")
                </div>
            </div>

        </div>
    }
}



<div>
    Create an account?@Html.ActionLink("Register now!!", "Registration")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
